<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/userProfile.css" type="text/css">
</head>

<body data-user-ID="<%= user.UserID %>" data-user-ComID = "<%= user.ComID %>">
    <div class="profile-container">
        <div class="profile-header">
            <h1>Welcome, <%= user.firstName %>!</h1>
        </div>
        <div class="profile-info">
            <div class="profile-picture">
                <img src="<%= user.Photo%>" alt="Profile Picture">
            </div>
            <div class="user-details">
                <h2>
                    <%= user.firstName %>
                        <%= user.lastName %>
                </h2>
                <p><strong>Age:</strong>
                    <%= user.Age %>
                </p>
                <p><strong>Gender:</strong>
                    <%= user.Gender %>
                </p>
                <p><strong>City:</strong>
                    <%= user.City %>
                </p>
                <p><strong>Country:</strong>
                    <%= user.Country %>
                </p>
                <p><strong>Phone:</strong>
                    <%= user.Phone %>
                </p>
                <p><strong>State:</strong> <%= user.Type%></p>
            </div>
        </div>
        <div class="notification-icon">
            <i class="fa fa-bell"></i>
        </div>
        <div class="notification-details">
            <p>Notification 1: Lorem ipsum dolor sit amet.</p>
            <p>Notification 2: Consectetur adipiscing elit.</p>
            <p>Notification 3: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="job-offer-icon">
            <i class="fa fa-briefcase"></i>
        </div>
        <div class="job-offer-details">
            <p>Job Offer 1: Software Engineer at Company X</p>
            <p>Job Offer 2: Data Analyst at Company Y</p>
            <p>Job Offer 3: UX Designer at Company Z</p>
        </div>
        <!-- <div class="hobbies-section">
            <div class="hobby-input">
                <input type="text" id="hobbyInput" placeholder="Enter a new hobby">
                <button id="addHobbyButton">Add Hobby</button>
            </div>
        </div> -->
        <div class="hobby-icon">
            <i class="fa fa-heart"></i>
        </div>
        <div class="hobbyDetails">
        </div>
        <div class="company-icon">
            <i class="fa fa-building"></i>
        </div>
        <div class="company-details">
            <!-- Add more company details here -->
        </div>
    </div>
    <script src="/userProfile.js">
    </script>
</body>

</html>